<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Register</title>
</head>
<body>

<div class="card">
    <h2>Register</h2>

    <form th:action="@{/register}" method="post" >
        <input type="email"  placeholder="Email" required>
        <input type="password" placeholder="Password" required>
        <input type="password" placeholder="Confirm Password" required>

        <button type="submit">Create account</button>
    </form>

    <p class="message">
        Have an account ?
        <a th:href="@{/}">Login</a>
    </p>
</div>

</body>
</html>
