<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <title>Register</title>
</head>
<body>

<div class="card">
    <h2>Register</h2>

    <form th:action="@{/register}" method="post" th:object="${user}">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <input type="email" th:field="${user.email}"  placeholder="Email" required>
        <input type="password" th:field="${user.password}" placeholder="Password" required>
        <input type="password" placeholder="Confirm Password" required>

        <button type="submit">Create account</button>
    </form>

    <p class="message">
        Have an account ?
        <a th:href="@{/}">Login</a>
    </p>
</div>

<script>
    const form = document.querySelector("form");
    const password = document.querySelector("input[name='password']");
    const confirm = document.querySelector("input[name='confirmPassword']");

    form.addEventListener("submit", function (e) {
        if (password.value !== confirm.value) {
            e.preventDefault();
            alert("Passwords do not match");
        }
    });
</script>

</body>
</html>
